* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 500;
    span {
        font-weight: 700;
    }
}

h2 {
    color: $color_txt_primary;
    display: flex;
    justify-content: center;   
}

h3 {
    display: flex;
    justify-content: center;   
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

hr {
    height: 3px;    
    width: 40px;
    background-color: $background_color_primary;
    border: none;
    margin: 25px auto 50px auto;
}

header {
    background-color: $background_color_primary;
    border-bottom: 5px solid $color_primary;
}

section {
    padding: 50px 0;
}
